services:
  resilmesh-ap-vector:
    container_name: "resilmesh-ap-vector"
    hostname: "vector"
    restart: unless-stopped
    env_file:
      - ".env"
    build:
      context: "./"
    command: "--config-dir /etc/vector"
 #   depends_on:
 #     resilmesh-ap-silentpush:
 #       condition: service_healthy
 #       restart: true
    ports:
      - 8686
    networks:
      - resilmesh_network
    extra_hosts:
      - "host.docker.internal:host-gateway"
